<div class="users">
    <ng-container *ngFor="let user of users">
        <mat-card class="user">
            <img mat-card-image src = "../../../assets/images/logo/userIcon.jpg"
            alt = "userPicture"/>
            <mat-card-footer>
                <mat-card-content class="user-description">
                    <ul class="user-description-list">
                        <li>
                            <div class = "userInfoContainer">
                                <p>UserId: </p>
                                <p class = "green"> {{user.userId}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "userInfoContainer">
                                <p>First Name: </p>
                                <p class = "green"> {{user.firstName}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "userInfoContainer">
                                <p>Last Name: </p>
                                <p class = "green"> {{user.lastName}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "userInfoContainer">
                                <p>Email Address: </p>
                                <p class = "green"> {{user.emailAddress}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "userInfoContainer">
                                <p>Phone Number: </p>
                                <p class = "green"> {{user.phoneNumber}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "userInfoContainer">
                                <p>Street Address:  </p>
                                <p class = "green"> {{user.streetAddress}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "userInfoContainer">
                                <p>City:  </p>
                                <p class = "green"> {{user.city}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "userInfoContainer">
                                <p>Country: </p>
                                <p class = "green"> {{user.country}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "userInfoContainer">
                                <p>State: </p>
                                <p class = "green"> {{user.state}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "userInfoContainer">
                                <p>Zip Code: </p>
                                <p class = "green"> {{user.zipCode}}</p>   
                            </div>   
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card-footer>
        </mat-card>
    </ng-container>
</div>