/* You can add global styles to this file, and also import other style files */
$darkBG: #424242;
$darkFG: #64FFDA;
$lightBG: #E0E0E0;
$lightFG: #00BFA5;

html, body {height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $darkBG; color: $darkFG;}
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
