$darkBG: #424242;
$darkFG: #64ffda;
$lightBG: #e0e0e0;
$lightFG: #00bfa5;

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  margin: 0%;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: center;
}

mat-card {
  background-color: #5c5b5b;
  padding: 0%;
  height: 320px;
  margin-top: 5%;
}

input {
  color: $lightFG;
}

.darkContainer {
  background-color: $darkBG;
  width: 400px;
  height: 60px;
}

mat-card-title {
  color: $lightFG;
  padding-top: 5%;
}

.formContainer {
  padding: 5%;
}

button {
  color: $lightFG;
  background-color: $darkBG;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $lightFG !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: $lightFG !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $lightFG !important;
}

.link {
  color: $lightBG;
  margin-bottom: -10%;
  margin-left: 20%;
}
