<div class = "filters">
    <mat-form-field class = "matFormField">
        <mat-label>Sort</mat-label>
            <mat-select
                panelClass = "sort-select"
                [(ngModel)] = "sort"
                (selectionChange)="SortCars(sort)"
            >
                <mat-option value="modelName (Low to High)">Model Name (A to Z)</mat-option>
                <mat-option value="modelName (High to Low)">Model Name (Z to A)</mat-option>
                <mat-option value="manufacturerName (Low to High)">Manufacturer (A to Z)</mat-option>
                <mat-option value="manufacturerName (High to Low)">Manufacturer (Z to A)</mat-option>
                <mat-option value="year (Low to High)">Year (Low to High)</mat-option>
                <mat-option value="year (High to Low)">Year (High to Low)</mat-option>
                <mat-option value="price (Low to High)">Price (Low to High)</mat-option>
                <mat-option value="price (High to Low)">Price (High to Low)</mat-option>
                <mat-option value="fuelType (Low to High)">Fuel Type (A to Z)</mat-option>
                <mat-option value="fuelType (High to Low)">Fuel Type (Z to A)</mat-option>
                <mat-option value="transmission (Low to High)">Transmission (A to Z)</mat-option>
                <mat-option value="transmission (High to Low)">Transmission (Z to A)</mat-option>
                <mat-option value="displacement (Low to High)">Displacement (Low to High)</mat-option>
                <mat-option value="displacement (High to Low)">Displacement (High to Low)</mat-option>
                <mat-option value="power (Low to High)">Power (Low to High)</mat-option>
                <mat-option value="power (High to Low)">Power (High to Low)</mat-option>
                <mat-option value="torque (Low to High)">Torque (Low to High)</mat-option>
                <mat-option value="torque (High to Low)">Torque (High to Low)</mat-option>
                <mat-option value="weight (Low to High)">Weight (Low to High)</mat-option>
                <mat-option value="weight (High to Low)">Weight (High to Low)</mat-option>
                <mat-option value="bodyType (Low to High)">Body Type (A to Z)</mat-option>
                <mat-option value="bodyType (High to Low)">Body Type (Z to A)</mat-option>
            </mat-select>
    </mat-form-field>  


    <mat-form-field class = "matFormField">
        <mat-label>Sort By Manufacturer</mat-label>
            <mat-select
                panelClass = "sort-select"
                [(ngModel)] = "sortByManufacturer"
                (selectionChange)="SortByValues()"
            >
                <mat-option *ngFor= "let manufacturer of manufacturers" value = {{manufacturer.manufacturerName}}>{{manufacturer.manufacturerName}}</mat-option>
                
            </mat-select>
    </mat-form-field>  

    <mat-form-field class = "matFormField">
        <mat-label>Sort By Price</mat-label>
            <mat-select
                panelClass = "sort-select"
                [(ngModel)] = "sortByPrice"
                (selectionChange)="SortByValues()"
            >
                <mat-option value="0">Any</mat-option>
                <mat-option value="1">Less than R 500,000</mat-option>
                <mat-option value="2">R 500,000 to under R 1,000,000</mat-option>
                <mat-option value="3">R 1,000,000 to under R 2,000,000</mat-option>
                <mat-option value="4">R 2,000,000+</mat-option>
            </mat-select>
    </mat-form-field> 
</div>




<div class="cars">
    <ng-container *ngFor="let car of cars">
        <mat-card class="car">
            <img mat-card-image src = "../../../assets/images/cars/{{car.vehicleId}}.jpg"
            alt = "carPicture"/>
            <mat-card-footer>
                <mat-card-content class="car-description">
                    <ul class="car-description-list">
                        <li>
                            <div class = "carInfoContainer">
                                <p>Model: </p>
                                <p class = "green"> {{car.modelName}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Manufacturer: </p>
                                <p class = "green"> {{car.manufacturerName}} - {{car.year}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Additional Info: </p>
                                <p class = "green"> {{car.additionalInfo}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Price: </p>
                                <p class = "green"> R {{car.price | number}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Fuel Type: </p>
                                <p class = "green"> {{car.fuelType}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Transmission:  </p>
                                <p class = "green"> {{car.transmission}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Displacement:  </p>
                                <p class = "green"> {{car.displacement | number}}l</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Power: </p>
                                <p class = "green"> {{car.power}}kW</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Torque: </p>
                                <p class = "green"> {{car.torque}}Nm</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>BodyType: </p>
                                <p class = "green"> {{car.bodyType}}</p>   
                            </div>   
                        </li>
                    </ul>
                    <div class = "buttonContainer">
                        <div class="button">
                            <button (click)="BuyCar(car)" type="submit" mat-button>Buy Car</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card-footer>
        </mat-card>
    </ng-container>
</div>