<div class = "filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
            <mat-select
                panelClass = "sort-select"
                [(ngModel)] = "sort" 
            >
                <mat-option value="modelName">modelName</mat-option>
                <mat-option value="additionalInfo">additionalInfo</mat-option>
                <mat-option value="manufacturerName">manufacturerName</mat-option>
                <mat-option value="year">year</mat-option>
                <mat-option value="price">price</mat-option>
                <mat-option value="fuelType">fuelType</mat-option>
                <mat-option value="transmission">transmission</mat-option>
                <mat-option value="displacement">displacement</mat-option>
                <mat-option value="power">power</mat-option>
                <mat-option value="torque">torque</mat-option>
                <mat-option value="weight">weight</mat-option>
                <mat-option value="bodyType">bodyType</mat-option>
            </mat-select>
    </mat-form-field>  
</div>


<div class="cars">
    <ng-container *ngFor="let car of cars">
        <mat-card class="car">
            <img mat-card-image src = "../../../assets/images/cars/{{car.vehicleId}}.jpg"
            alt = "carPicture"/>
            <mat-card-footer>
                <mat-card-content class="car-description">
                    <ul class="car-description-list">
                        <li>
                            <div class = "carInfoContainer">
                                <p>Model: </p>
                                <p class = "green"> {{car.modelName}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Manufacturer: </p>
                                <p class = "green"> {{car.manufacturerName}} - {{car.year}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Additional Info: </p>
                                <p class = "green"> {{car.additionalInfo}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Price: </p>
                                <p class = "green"> R {{car.price | number}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Fuel Type: </p>
                                <p class = "green"> {{car.fuelType}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Transmission:  </p>
                                <p class = "green"> {{car.transmission}}</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Displacement:  </p>
                                <p class = "green"> {{car.displacement | number}}l</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Power: </p>
                                <p class = "green"> {{car.power}}kW</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>Torque: </p>
                                <p class = "green"> {{car.torque}}Nm</p>   
                            </div>   
                        </li>
                        <li>
                            <div class = "carInfoContainer">
                                <p>BodyType: </p>
                                <p class = "green"> {{car.bodyType}}</p>   
                            </div>   
                        </li>
                    </ul>
                    <div class = "buttonContainer">
                        <div class="button">
                            <button (click)="BuyCar(car)" type="submit" mat-button>Buy Car</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card-footer>
        </mat-card>
    </ng-container>
</div>