$darkBG: #424242;
$darkFG: #64ffda;
$lightBG: #e0e0e0;
$lightFG: #00bfa5;

.filters {
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 20px;
}

::ng-deep {
  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: white !important;
    opacity: 1;
  }

  .mat-form-field-infix {
    border-color: white !important;
    border-top: none;
    padding-left: 5px !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 5px !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white !important;
  }
}

.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

.car {
  padding: 10px;
  margin: 10px;
  width: 280px;
  height: 430px;
  overflow: hidden;
  border-radius: 5px;
  background-color: $darkBG;
  box-shadow: 4px 3px 8px 0px #02e9ca;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 11px 6px #02e9ca;
    transform: translateY(-3px);
  }

  &-thumb-container {
    background-color: black;
    position: relative;
    height: 172px;
    width: auto;
    color: white;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
  }

  &-description {
    display: flex;
    flex-direction: custom;
    justify-content: flex-start;
  }

  &-name {
    color: white;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  ul {
    list-style-type: none;
  }

  li {
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}