$darkBG: #424242;
$darkFG: #64ffda;
$lightBG: #e0e0e0;
$lightFG: #00bfa5;

.navbar{
  background: $darkBG;
  height: 80px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top:0;
  z-index:10;
}

.navbar-container{
  display:flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}

.navbar-logo{
  justify-self: flex-start;
  cursor: pointer;
  display: flex;
  align-items: center;
  
  :hover{
    background-color: #5b5b5c;
    border-radius: 5px;
    transition: 0.3s all ease;
    transform: scale(1.1);
  }
}

.navbar-menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

.navbar-item{
  height: 80px;
  padding-left: 20px;
  :hover{
    background-color: #5b5b5c;
    border-radius: 5px;
    transition: 0.3s all ease;
    transform: scale(1.1);
  }
}

.navbar-links{
  color: $lightFG;
  background-color: $darkBG;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}