
<div class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <img height="80px" alt="logo" src="../../../assets/images/logo/logo_green.png" [routerLink]="'/home'" />
    </div>
    <div class="navbar-menu">
      <div class="navbar-item">
       <div class="navbar-links" [routerLink]="'/login'" *ngIf="!isLoggedIn">Log in</div>
      </div>
      <div class="navbar-item">
        <div class="navbar-links" [routerLink]="'/signup'" *ngIf="!isLoggedIn">Sign up</div>
       </div>
       <div class="navbar-item">
        <div class="navbar-links" [routerLink]="'/login'" *ngIf="isLoggedIn">Log out</div>
       </div>
    </div>
  </div> 
</div>